:root {
  --pageColor: #8c4e9f;
  --lightColor: #f1f0ff;
  --darkColor: #443266;
  --mediumColor: #c3c3e5;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}
ul,
ol,
li {
  list-style: none;
}

body {
  background-color: var(--pageColor);
  color: var(--lightColor);
  font-family: "Open Sans", sans-serif;
  margin: 1em;
}

table {
  width: 90%;
  border-collapse: collapse;
  border: 0.2em solid var(--darkColor);
  margin: 1em auto;
  color: var(--darkColor);
  background-color: var(--lightColor);
}

th {
  background-color: var(--darkColor);
  color: var(--lightColor);
}
th,
td {
  height: 2.2em;
  border: 0.1em solid var(--darkColor);
  text-align: center;
}

.bold {
  font-weight: bold;
}

h1 {
  text-align: center;
}

#planet {
  font-weight: bold;
}

.container {
  margin: 1.5em auto;
  background-color: var(--lightColor);
  color: var(--darkColor);
  border-radius: 0.5em;
  padding: 1em;
}

p {
  font-size: 1.2em;
  margin: 1em 0;
}

input {
  font-size: large;
  text-align: right;
  background-color: var(--mediumColor);
}

.tab {
  display: inline-block;
  overflow: hidden;
  border: 1px solid var(--mediumColor);
  border-bottom: none;
  background-color: var(--lightColor);
}

.tab button {
  color: var(--mediumColor);
  background-color: inherit;
  font-size: 1.3em;
  font-weight: bold;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tab button:hover {
  background-color: var(--mediumColor);
  color: var(--darkColor);
}

.tab button.active {
  background-color: var(--mediumColor);
  color: var(--darkColor);
}

.tabcontent {
  display: none;
  margin-top: -0.3em;
  background-color: var(--mediumColor);
  padding: 6px 12px;
  border-radius: 0 0.4em 0.4em 0.4em;
  border: 1px solid var(--mediumColor);
  border-top: none;
}

a {
  display: inline-block;
  margin-top: 1em;
  text-decoration: none;
  color: var(--lightColor);
  font-size: 0.8em;
}
