* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #fafafa;
  font-family: "Open Sans", sans-serif;
  margin: 1em;
}
ul,
ol,
li {
  list-style: none;
}

table {
  width: 90%;
  border-collapse: collapse;
  border: 0.2em solid black;
  margin: 1em auto;
}

th,
td {
  height: 2.2em;
  border: 0.1em solid black;
  text-align: center;
}

.bold {
  font-weight: bold;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 1em;
}

#planet {
  font-weight: bold;
}

.container {
  margin: 2em 1em;
}

p {
  margin: 1em 0;
}

input {
  font-size: large;
  background-color: #fafafa;
}

.tab {
  display: inline-block;
  overflow: hidden;
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #f1f1f1;
  margin-bottom: 0;
}

.tab button {
  background-color: inherit;
  font-size: 1.3em;
  font-weight: bold;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  margin-top: -0.3em;
  background-color: #ccc;
  padding: 6px 12px;
  border-radius: 0 0.4em 0.4em 0.4em;
  border: 1px solid #ccc;
  border-top: none;
  margin-bottom: 1em;
}
